.overlay {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 5;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  white-space: nowrap;
}

.overlay:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.ghost {
  display: inline-block;
  vertical-align: middle;
}

.popup {
  height: auto;
  width: 30em;
  background-color: blue;
  border-radius: 10px;
}

.popup-content {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
}

.title {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.popup-title {
  font-size: 20px;
  font-weight: 700;
  padding-left: 15px;
  color: #e05d44;
}

.popup-prompt {
  font-size: 20px;
  color: #707070;
}

.check-idle {
  margin-top: 3em;
  margin-bottom: 2em;
  background: linear-gradient(
    to bottom,
    rgba(54, 96, 193, 1) 0%,
    rgba(167, 108, 255, 1) 100%
  );
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
  border: 1px solid white;
  width: 25em;
}

.linear-gradient {
  background: #ffffff;
}
